PORT=4000
FRONTEND_ORIGIN=http://127.0.0.1:3010
MONGODB_URI=mongodb+srv://valluru-books:valluru123@cluster0.trqpgi1.mongodb.net/
MONGODB_DB=valluru_books
ADMIN_PASSWORD=change-this-before-production
ACCESS_TOKEN_SECRET=change-this-too
RESEND_API_KEY=re_your_resend_key
RESEND_FROM=The Valluru <onboarding@resend.dev>
ADMIN_NOTIFICATION_EMAIL=sasi@theValluru.org
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
